head{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:slateblue;
}

body{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:slateblue;
}